body{
    margin: 0;
    padding: 0s;
    background-color: #434343;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffdb47;
    color: black;
}

.section {
    height: 45vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

nav ul li a{
    text-decoration: none;
}

.i_bet_you_just_inspected_elements_cheater {
    color: #ffdb47;
}

.i_bet_you_just_inspected_elements_cheater:focus {
    color: black;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero>a {
    display: block;
    width: 350px;
    text-decoration: none;
    color: #ffdb47;
}

.info {
    flex-basis:30em;
    flex-shrink: 1;
}

.info>p {
    font-size: 14px;
}

.and {
    color: #ffdb47;
    text-decoration: underline;
}

.and:hover {
    cursor: pointer;
}

.facts {
    display: flex;
    flex-direction: column;
    background-color: #13abe6;
    padding-top: 2rem;
}

.facts-container {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.fact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    max-width: 20rem;
}

.fact-title {
    text-align: center;
    margin-bottom: 4rem;
}

.fact-img {
    display: block;
    width: 8rem;
    height: 8rem;
    border: 5px solid #ffdb47;
    border-radius: 15px;
}

.horsey:hover {
    cursor: pointer;
}

.hint {
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.hint-quote {
    display: block;
    max-width: 65rem;
    font-weight: 100;
    font-style: italic;
}

.cta {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cta-container{
    background-color: #13abe6;
    width: 45rem;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}

.cta-container>h3 {
    margin-bottom: 0;
}

.p-button-align {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-wrapper {
    text-align: center;
}

.cta-button {
    border: none;
    border-radius: 3em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    width: 4rem;
    background-color: #ffdb47;
    color: black;
    text-decoration: none;
}

footer {
    text-align: center;
    font-weight: 100;
}
